.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin-top:10px;
	margin:0px;
	background:#fff;
	border:1px solid #ddd;
}
.card-title {
	padding:15px;
}
.card-title h2 {
	margin-top:0px;
	font-size:1.5em;
}
.card-btn {
	background:#000;
	width:100%;
	padding:5px;
	display:block;
	color:#fff;
}

.card-btn:hover {
	background:#555;
}
a.card-btn:hover {
	color:#fff;
	text-decoration:none;
}